{% extends "base.html" %}


{% load static %}

{% block content %}

<body class="bg-gray-100 font-sans antialiased">
    

        <!-- Main Content -->
        <div class="flex-1 p-4 lg:pl-70">
                    
            {% if messages %}
            <div class="mb-4">
              {% for message in messages %}
                <div class="p-4 mb-2 text-sm {% if message.tags == 'success' %}bg-green-100 text-green-700{% elif message.tags == 'error' %}bg-red-100 text-red-700{% elif message.tags == 'warning' %}bg-yellow-100 text-yellow-700{% endif %} rounded">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
                    
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-bold">Utilisateurs ({{ total }})</h1>
                <a href="{% url 'user:add' %}" class="flex items-center text-blue-500 hover:text-blue-700 transition-colors">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    Nouvel utilisateur
                </a>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg fade-in overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Id</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pseudo</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date creation</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    {% for user in users %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.id }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.pseudo }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ user.dateCreation }}</td>
                            <td class="px-6 py-4 whitespace-nowrap"><a href="{% url 'user:update' user.id %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-1 px-4 rounded transition duration-300">Modifier</a></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
</html>
